build/
build-vscode/
build-linux/
build-macos/
build-ninja/
out/
.vscode/
Files/
_obs_test/
_obs_test_sys32/
*.obj
*.pdb
*.ilk
*.lib
*.exp
*.dll
*.so
*.dylib
docs/
third_party/
.external/
Sample-Sounds/
